body {
    position: absolute;
    margin: 0;
}

.container {
    border: 2px solid yellow;
    height: 100vh;
    width: 100vw;
}

.start-container {
    margin-left: 600px;
}

.game-title {
    padding: 80px;
    text-align: center;
    color : #228c8a;
    font-size: 50px;
    font-family: cursive;
}

.button-container {
    text-align: center;
}
#start-game {
    background-color: #0e4542;
    border: 4px solid #0e4542;
    padding: 8px 40px 8px 40px;
}
a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: cursive;
}

.progress-bar-container {
    border: 2px solid purple;
    background-color: #d7e2e8;
    display: flex;
    height: 5%;
    padding-top: 10px;
}
.left-instructions {
    border: 2px solid blue;
    width: 20%;
    text-align: center;
}
.center-progress-bar {
    border: 2px solid pink;
    width: 60%;
}
.right-reset {
    border: 2px solid lightseagreen;
    width: 20%;
    text-align: center;
}
#progress-bar {
    width: 60%;
    background-color: lightgrey;
    border: 1px solid #0e4542;
    border-radius: 5px;
    margin-left: 20%;
    margin-top: 2px;
}
#progress-bar-change {
    width: 100%;
    height: 20px;
    background-color: #228c8a;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: cursive;
}
#instructions, .reset {
    background-color: #0e4542;
    border: 4px solid #0e4542;
    color: white;
}

.main-container {
    border: 2px solid orange;
    /* background-image: url("Images/Sea\ Background.png"); */
    background-image: url("Images/Sea_Background_0.png");
    background-size: cover;
    height: 94%;
    display: flex;
    justify-content: space-evenly;
}
.main-container > div {
    border: 2px solid green;
    height: 100%;
    width: 50%;
}

.right-container > div {
    border: 0.5px solid red;
    height: 50%;
    width: 100%;
}
.word-container {
    text-align: center;
}

.word {
    display: inline-block;
    vertical-align: top;
    border: 2px solid black;
    border-radius: 100%;
    padding: 4px;
    margin-top: 20%;
    height: 25px;
    width: 25px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: cursive;
    text-align: center;
}

.letters-divs-container {
    height: fit-content;
    width: 90%;
    margin: 5%;
    margin-top: 20%;
    text-align: center;
}
.letter {
    display: inline-block;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 100%;
    padding: 3px;
    margin: 3px;
    height: 30px;
    width: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family: cursive;
    text-align: center;
}

.ship-container img {
    align-content: center;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    text-align: center;
}
.text-content {
    margin: 40px 0px 40px 0;
    font-size: 20px;
    font-family: cursive;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
.close-button {
    background-color: #0e4542;
    border: 4px solid #0e4542;
    color: white;
    font-size: 15px;
    font-family: cursive;
}
.modal-reset {
    background-color: #e13236;
    border: 4px solid #e13236;
    color: white;
    font-size: 15px;
    font-family: cursive;
}